.image_container {
    width: 190px;

    .image_size {
        width: 100%;
        border-radius: 10px 10px 0 0;
    }
}

.text_container {
    display: flex;
    justify-content: space-between;
    width: 190px;
    
    .character_name {
        display: inline-block;
        margin: 0; 
        padding: 5px 0 5px 15px; 
        height: 40px;
        width: 190px;
        font-size: 16px;
        font-weight: 300;
    }
    
    .character_species {
        padding: 5px 15px; 
        color: rgba(237, 198, 114, 0.906);
    }
}