@import '../core/variables';
@import '../core/mixins';

.no_results_container {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../images/no_results.png');
    background-size: cover;
    background-position: center;

    .no_results {
        width: 50%;
        margin: 0;
        padding: 10px 0;
        text-align: center;
        color:  rgb(82, 120, 245);
        font-size: 18px;
        background-color: rgba(0, 0, 0, 0.7);
        transform: translateY(-70px);
        @include desktop {
            width: 30%;
        }
    }
}
