@import '../core/variables';
@import '../core/mixins';

.no_results_container {
    height: 85vh;
    @include center;
    flex-direction: column;
    background-image: url('../../images/no_results.png');
    background-size: cover;
    background-position: bottom;
    @include tablet {
        height: 60vh;
    }

    .no_results {
        width: 50%;
        margin: 0;
        padding: 10px 0;
        text-align: center;
        color: $color-primary;
        font-size: 18px;
        background-color: rgba(0, 0, 0, 0.7);
        transform: translateY(-90px);
        @include desktop {
            width: 30%;
            transform: translateY(-140px);
        }
    }
}
