// BREAKPOINTS
$tablet: 500px;
$desktop: 1000px;

// COLORS
$color-primary: #3b8ff5;
$color-secondary: #0294b5;
$color-tertiary: #00fbff;
$color-neutral: #9bb2fc;
$color-light: #ffffff;
$color-dark: #000000;
$color-alert-title: #94d80c;
$color-alert-text: #258f08;

// FONTS
$font-primary: 'Rajdhani', sans-serif;